## 2. <a name="elements"></a> <%= Alchemy.t("element_descriptions", scope: "user_manual") %>

<% Alchemy::Element.definitions.each do |e| %>

### <a name="<%= element_anchor_name(e.values.first) %>"></a><%= translated_element_name(e.values.first) %>

<%= Alchemy.t(e.values.first, scope: 'element_hints', default: e['hint'] || Alchemy.t("no_description", scope: "user_manual")) %>

|<%= element_properties(e).map {|p| "#{property_name(p)}" }.join("|") %>|
|<%= element_properties(e).map {|p| "---" }.join("|") %>|
|<%= element_properties(e).map {|p| "#{property_value(p)}" }.join("|") %>|

<% end %>
